<footer>
  <div class="footer">
  <div class="row">
  <a href="#"><i class="bi bi-facebook"></i></a>
  <a href="#"><i class="bi bi-instagram"></i></a>
  <a href="#"><i class="bi bi-youtube"></i></a>
  <a href="#"><i class="bi bi-twitter"></i></a>
  </div>

  <div class="row">
  <ul>
  <li><a href="#">Contactanos</a></li>
  <li><a href="#">Nuestros servicios</a></li>
  <li><a href="#">Politica de privacidad</a></li>
  <li><a href="#">Terminos y condiciones</a></li>
  <li><a href="#">Trayectoria</a></li>
  </ul>
  </div>
  </div>
  </footer>
