
<p-toast position="bottom-center" key="tc"></p-toast>
<div *ngIf="!Isloading;else loading">
  <img [src]="MediaDitails.ImagePath" [alt]="MediaDitails.Title" class="public_image">
  <section class="media-details">
    <div style="display: flex;color: aliceblue; gap: 20px; flex-wrap: wrap;">
      <div class="post_container">
        <img [src]="MediaDitails.PosterImage" [alt]="MediaDitails.Title">
      </div>
      <div class="descripcion_movie">
        <div>
          <h1>{{MediaDitails.Title}}</h1>
          <span>
          *{{MediaDitails.Genders}}
          </span>
          <p>Descripcion: {{MediaDitails.Overview}}</p>
          <p>Fecha de estreno: {{MediaDitails.RelaseDate|date}}</p>
          <!-- <p>IMB - {{MediaDitails?.vote_average}}</p> -->
        </div>

      <div class="buttons">
        <p-button icon="bi bi-heart" [rounded]="true" severity="secondary" [outlined]="true" (onClick)="AddFavorite()"></p-button>
        <p-button icon="bi bi-eye" [rounded]="true" severity="secondary" [outlined]="true" (onClick)="ShowMovie()"></p-button>
        <p-button icon="bi bi-eye-slash" [rounded]="true" severity="secondary" [outlined]="true" (onClick)="hideMedia()"></p-button>
      </div>
      </div>
    </div>
  </section>
  <app-movie-carrusel [MovieList]="MediaRecomendations" [Title]="'Recomendaciones'"></app-movie-carrusel>
</div>



  <ng-template #loading>
    <loadingComponent></loadingComponent>
  </ng-template>
