:host{
  position: relative;
  display: block;
  background-color: rgb(180, 180, 180);
}

.public_image
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%;
  object-fit: cover;
  z-index: 0;
  aspect-ratio: 16/9;
  filter: blur(5px);
}


.media-details
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  div img{

    width: 100%;
    max-width: 320px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
  }
}
.post_container{
  flex: 1;
  min-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.descripcion_movie
{
  position: relative;
   z-index:5;
  flex-direction: column;
  line-height: 1.6;
min-width: 350px;
max-width: 650px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  flex: 1;
  z-index: 10;

}
.buttons{
  display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 750px){
     order: 1;

    }
}
:host ::ng-deep{
   p-button > button{
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: all 0.3s;
    &:hover{
      background-color: #ffffff;
      color: #000000;
    box-shadow: 0px 0px 5px 0px #ffffff;

    }
   }
}
